#app {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: auto;
}

@keyframes scrolling {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15em);
  }
}
