:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --mc-color-bg: rgb(253, 253, 253);
  --mc-color-text-fg: #212529;
  --mc-color-error: rgb(163, 53, 53);
  --mc-color-bg-error: rgb(240, 145, 145);
  --mc-color-heading: #343a40;
  --mc-color-highlight: #0098d4;
  --mc-color-inactive: #003a52;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  color: var(--mc-color-text-fg);
  background: var(--mc-color-bg);

  a:link {
    color: var(--mc-color-highlight);
  }
  a:visited {
    color: var(--mc-color-inactive);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--mc-color-heading);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --mc-color-bg: rgb(32, 32, 32);
    --mc-color-text-fg: rgb(218, 218, 218);
    --mc-color-heading: rgb(204, 204, 204);
    --mc-color-error: rgb(243, 17, 17);
    --mc-color-bg-error: rgb(54, 10, 10);
    --mc-color-highlight: #0098d4;
    --mc-color-inactive: #5297b4;
  }
}
